:root{
  --base-orange: rgb(197, 162, 96);
  --base-brighter-orange: rgb(222, 169, 73);
  --base-darker-orange: rgb(124, 102, 61);
  --base-dark-blue: #020126;
  --base-middle-blue: #040242;
  --base-divider: rgb(143, 143, 143);
}
main{
  width: 100%;
  height: calc(100vh - 63px);
  
  padding: 40px;
  position: fixed;
  top: 63px;
  left: 0;
}
main{
  color: white;
  max-width: 1800px;
  margin: 0 auto;
  left: 50% !important;
  transform: translateX(-50%);
}
nav{
  max-width: 1800px;
  margin: 0 auto;
  left: 50% !important;
  transform: translateX(-50%);
}
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html{
  background-color: var(--base-dark-blue);
  max-width: 1800px;
  margin: 0 auto;
}

.playButton button{
  padding: 0 !important;
}
.playButton span{
  position: relative;
  background: transparent;
  z-index: 10;
  transition: all .2s ease;
}
.playButton.grayscale span{
  filter: grayscale();
  color: gray;
}
.playButton.grayscale button{
  cursor: unset;
}
.playButton.party span{
  position: relative;
  background: transparent;
  border-color: var(--base-orange);
}
.playButton span .partyBg, .playButton span .playBg{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  filter: contrast(1.5);
}
.playButton span .partyBg{
  filter: saturate(10) brightness(2) contrast(50);
  object-position: top;
}
.playButton.party span .partyBg{
  display: block;
}
.playButton.party span .playBg{
  display: none;
}
.playButton span .partyBg{
  display: none;
}
.playButton span .playBg{
  display: block;
}
.playButton:not(.grayscale):hover span{
  transition: box-shadow .2s ease;
  box-shadow: 0px 0px 8px 3px #48abe0;
}
.playButton.party:not(.grayscale):hover span{
  box-shadow: 0px 0px 8px 3px var(--base-orange);
}
.playButton:hover button{
  transform: unset;
}
.playButton img{
  z-index: 20;
}
