.main{
    height: 100% !important;
    top: 0;
    padding-top: 103px;
    background-repeat: no-repeat !important;
    background-position: top left !important;
    background-size: cover !important;
}
.lobbyContainerPlayers{
    width: 50%;
    padding-left: 40px;
}
.lobbyContainerPlayers .lobbyPlayersTableDividerTop{
    max-width: 100%;
}
.lobbyContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}