.lobbyPlayer{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    backdrop-filter: blur(30px) brightness(1.2);
    /*filter: drop-shadow(0px 4px 33px rgba(0, 0, 0, 0.13));*/
    box-shadow: -1px 4px 46px -15px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 4px 46px -15px rgba(0,0,0,1);
    -moz-box-shadow: -1px 4px 46px -15px rgba(0,0,0,1);
}
.lobbyPlayer.local{
    padding: 15px;
    backdrop-filter: blur(30px) brightness(1.3);
}
.lobbyPlayer .profileLEFT{
    display: flex;
    align-items: center;
}
.lobbyPlayer .profileLEFT .profileIcon{
    position: relative;
    margin-right: 20px;
    top: 3px;
}

.lobbyPlayer .profileLEFT .profileIcon .icon{
    width: 40px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    z-index: 10;
}
.lobbyPlayer .profileLEFT .profileIcon .frame{
    width: 40px;
    position: absolute;
    z-index: 20;
    margin-left: 20px;
    margin-right: 10px;
}
.lobbyPlayer.local .profileLEFT .profileIcon .icon{
    width: 60px;
    
    margin: 0;
}
.lobbyPlayer.local .profileLEFT .profileIcon .frame{
    width: 60px;
    margin: 0;
}

.lobbyPlayer.local .profileLEFT .profileName{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lobbyPlayer .profileLEFT .profileName{
    font-size: 21px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lobbyPlayer.local .profileLEFT .profileName{
    color: var(--base-orange);
}
.lobbyPlayer.local .profileRIGHT img{
    width: 50px;
}
.lobbyPlayer .profileRIGHT img{
    width: 40px;
}
.lobbyPlayer .profileRIGHT{
    margin-right: 20px;
}
.lobbyPlayer.local .profileRIGHT{
    margin-right: 0;
}